/* Cheat-sheet.css*/
/*body is a selector to change the style of the
body section on an HTML file*/
body {
	background: red; /* background is a property to change 
						the background color and red is
						the property value*/
						/* there are 140 color names
						https://www.w3schools.com/colors/colors_names.asp*/
}

.heading {
	color: white;
}
/*my_paragraph is an id selector than has styling that applies only to
one tag on my html. The tag id should be the same as this selector */
#my_paragraph {
	text-decoration: underline;
	text-align: right;
	font-weight: bold;
}