
#nav_bar {border-style: solid;}
#nav_bar {border-radius: 5px;}
#nav_bar {border: white;}
a:link { 
text-decoration: none; }
#nav_bar {
	background-color: rgb(255, 232, 241);
}
body {
	color: rgb(255, 171, 207);}